.container-fluid{
    text-align: center;
}
a{
    color:inherit;
    text-decoration: inherit;
}
#youtube{
    border-radius: 3%;
}
#filler{
    color: white; 
    background-color: white;
}
.project_image{
    width:100%;
}